/* see UNLICENSE file in the website's source code for copyright and license details */

html {
	background-color: #181825;
	color: #cdd6f4;
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variant-ligatures: none;
}
